{% extends 'profile/base.html' %}

{% block content %}

<!--  <div class="bid">
       {% if bid.date %}
           <div class="date">
               {{ bid.date }}
           </div>
       {% endif %}
       <a class="btn btn-default" href="{% url 'bid_edit' pk=bid.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
       <h3>Создал: {{ bid.manager }}</h3>
       <h3>Контрагент: {{ bid.bid_partner }}</h3>
       <p>{{ post.text|linebreaksbr }}</p>
   </div>-->


    <h5>Дата: {{ bid.date }}</h5>
    <h4>Создал: {{ bid.manager }}</h4>
    <h4>Контрагент: {{ bid.bid_partner }}</h4>
    <h4>Статус заявки:<a href = "/bid/{{ bid.id }}/status"> {{ bid.bid_status }}</a></h4>
    <h4>Тип заявки: {{ bid.bid_type }}</h4>
    <hr>
    <p>Товар: {{ bid.bid_product }}</p>
    <p>Количество: {{ bid.amount }}</p>
    <hr>
    <div>
      <h4><a href = "/bid/{{ bid.id }}/edit">Редактировать заявку</a></h4>
      <h4><a href="/bids/all/">Вернуться к списку заявок</a></h4>
    </div>
{% endblock content %}
