{% extends 'profile/base.html' %}

{% block content %}

<h4><a class="btn btn-default" href="{% url 'bid_edit' pk=bid.pk %}"><span class="glyphicon glyphicon-pencil">Редактировать</span></a></h4>
    <h5>Дата: {{ bid.date }}</h5>
    <h4>Создал: {{ bid.manager }}</h4>
    <h4>Контрагент: {{ bid.bid_partner }}</h4>
    <h4>Статус заявки: {{ bid.bid_status }}<a href = "/bid/{{ bid.id }}/status"><span class="glyphicon glyphicon-pencil"></span></a></h4>
    <h4>Тип заявки: {{ bid.bid_type }}</h4>
    <hr>
    <p>Товар: {{ bid.bid_product }}</p>
    <p>Количество: {{ bid.amount }}</p>
    <hr>
    <div>
        <h4><a href="/bids/all/">Вернуться к списку заявок</a></h4>
    </div>
{% endblock content %}
