{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
  <title>Заявка</title>
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>
    <h5>Дата: {{ bid.date }}</h5>
    <h4>Создал: {{ bid.manager }}</h4>
    <h4>Статус заявки:<a href = "/bid/status/{{ bid.id }}"> {{ bid.bid_status }}</a></h4>
    <hr>
    <p>Товар: {{ bid.bid_product }}</p>
    <p>Количество: {{ bid.amount }}</p>
</body>
</html>
