{% extends 'profile/base.html' %}

{% block content %}
<h1>Редактирование заявки</h1>
       <form method="POST" class="bid-form">{% csrf_token %}
              {{ form.as_p }}
           <button type="submit" class="save btn btn-default">Save</button>
       </form>

  <!--  <h5>Дата: {{ bid.date }}</h5>
    <h4>Создал: {{ bid.manager }}</h4>
    <h4>Тип заявки: {{ bid.bid_type }}</h4>
  <form action = "new" method="post">
      <b>Выберите контрагента:</b><Br>
        <select name="bid_partner">
          {% for partner in partners %}
            <option>{{ partner.partner_name }}</option>
            {% endfor %}
          </select><Br>

      <b>Выберите статус заявки:</b><Br>
        {% for status in statuses %}
          <input type="radio" name="bid_status"> {{ status.status_name }} <Br>
        {% endfor %}

      <b>Выберите товар:</b><Br>
        <select name="bid_product">
          {% for product in products %}
            <option>{{ product.product_name }}</option>
          {% endfor %}
        </select><Br>

        <p><b>Количество:</b><br>
          <input type="text" size="40" name="amount"></p>
        <p><input type="submit" value="Сохранить"></p>
</form>-->
{% endblock content %}
